.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 4px 8px;
  cursor: pointer;
}
